<%- include('header') %>
    <div class="row-sm-8">
        <div>
            <h2 class="mb-4">Languages Spoken In Certain Faculties</h2>
        </div>
    </div>
    <br>
    <div id="viz">

    </div>

<%- include('footer') %>