        </div>
    </div>
    <div class="footer">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <center> Copyright &copy; Singidunum University <script>document.write(new Date().getFullYear());</script> All rights reserved </center>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>