<!doctype html>
<html lang="en">
  <head>
  	<title>Heterogeneous Information Resources Handler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <style type="text/css">
      #viz {
          width: 1400px;
          height: 700px;
          color: black;
          border: 1px solid lightgray;
          font: 22pt arial;
      }
  </style>
  
<script type="text/javascript">

  var viz;

  function draw() {
      var config = {
          container_id: "viz",
          server_url: "neo4j://localhost:7687",
          server_user: "neo4j",
          server_password: "neo4j",
          initial_cypher:
              "MATCH (l:Language), (h:HighEducationInstitute) WHERE l.language='Serbian' and h.heiStateId='SRB' CREATE (l)-[r:SPOKEN_IN]->(h) RETURN l, h, r;" //MATCH (n) OPTIONAL MATCH (n)-[r]-() RETURN n, r; 
           
      };

      viz = new NeoVis.default(config);
      viz.render();
  }
</script>
</script>
  </head>
  <body onload="draw()">
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="/" class="img logo rounded-circle mb-5" style="background-image: url(assets/images/profile.jpeg);"></a>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mysql</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/getAllStates">States</a>
                </li>
                <li>
                    <a href="/getAllPopulatedPlaces">Populated Place</a>
                </li>
                <li>
                  <a href="/getAllLanguages">Language</a>
                </li>
                <li>
                    <a href="/getAllHighEducationInstitute">High Education Institute</a>
                </li>
                <li>
                  <a href="/getAllInstituteType">Type of Institute</a>
                </li>
                <li>
                  <a href="/getAllOwnershipType">Ownership Type</a>
                </li>
	            </ul>
	          </li>
	          <li>
            <li>
                <a href="/generateAllDocument">Mongo Database</a>
            </li>
            
            </li>
            <li>
              <a href="/displayGraph">Graph</a>
            </li>
	        </ul>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      